body {
	font-family: "Crimson Text", "Times New Roman", serif;
	/* Fonte da letra */
	background-color: #F2FFFC;
	/* Cor de fundo do elemento */
	font-size: 120%;
	/* Tamanho da fonte */
	line-height: 1.5;
	/* Espaçamento entre linhas */
}

h1, h2 {
	font-family: "Open Sans Condensed", "Arial", sans-serif;
	/* Fonte da letra */
}

.titulo-principal {
	text-align: center;
	/* Texto alinhado ao centro */
	background-color: #851944;
	/* Cor do fundo */
	color: #FFF;
	/* Cor da letra */
	padding: 25px;
	/* Espaçamento interno do elemento */
	margin: 0;
	/* Espaçamento entre a margem do navegador e o elemento*/
	border-bottom: 10px solid black;
	/* Borda na parte inferior */
	font-size: 60px;
	/* Tamanho da fonte */
	text-transform: uppercase;
	/* Deixa o texto em letra maiuscula */
}

main h2 {
	font-size: 30px;
	clear: both;
	/* Tamanho da fonte */
}

main {
	float: left;
	width: 85%;
}

main div {
	width: 720px;
	/* Largura */
	margin: auto;
	/* Centraliza o elemento */
	padding-top: 30px;
	/* Margem interna da parte superior*/
	padding-bottom: 80px;
	/* Margem interna da parte inferior */
}

p {
	text-align: justify;
	/* Alinha o texto */
	margin-top: 20px;
	/* Margem superior */
	margin-bottom: 20px;
	/* Margem inferior */
}

aside {
	background-color: #3C1D3D;
	/* Cor de fundo */
	color: #F2FFFC;
	/* Cor da letra */
	text-align: center;
	width: 15%;
	position: relative;
	top: 285px;
	clear: right;
	box-sizing: border-box;
}

aside a {
	color: inherit;
	/* Cor mais próxima matém */
	font-family: "Open Sans Condensed", sans-serif;
	/* Fonte utilizada */
}

aside h1 {
	font-size: 30px;
	/* Tamanho da fonte */
	margin-bottom: 25px;
	/* Margem da parte inferior */
}

nav a {
	color: #F2FFFC;
	/* Cor da letra */
	text-transform: lowercase;
}

img, aside {
	float: right;
}

.icones-sociais li {
	display: inline-block;
	/* Muda a forma como os elementos se alinham, no caso agora é em linha com block(Posso mudar a altura dos elementos) */
}

.icones-sociais a {
	width: 40px;
	/* Largura */
	height: 40px;
	/* Altura */
	display: block;
	/* Para que mostre a imagem */
	text-indent: -99999px;
	/* Para sumir com o texto e ficar apenas a imagem de fundo */
}

.github-icon {
	background-image: url(../img/github.png);
	/* Define o background do elemento */
}

.twitter-icon {
	background-image: url(../img/twitter.png);
	/* Define o background do elemento */
}

.linkedin-icon {
	background-image: url(../img/linkedin.png);
	/* Define o background do elemento */
}

.footer-site {
	background-color: #000;
	/* Cor de fundo */
	color: #F2FFFC;
	/* Cor da letra */
	clear: both;
	text-align: center;
	position: fixed;
	bottom: 0;
	width: 100%;
}

.minha-foto, .navegacao-site {
	float: right;
	box-sizing: border-box;
	border-left: 10px solid black;
	border-bottom: 10px solid black;
}

.minha-foto {
	width: 15%;
	position: absolute;
}